<div class="iPhone-13">

  <div class="iPhone-13-container iPhone-13-container-colour">

    <div class="user-container">

      <div class="user-profile-pic">
        <%= image_tag "user-profile-pic.png" %>
        <div class="award-avatar">
          <i class="fa-solid fa-hippo"></i>
        </div>
      </div>

      <div class="user-username">
        <h2><%= current_user.username.capitalize %></h2>
      </div>

      <div class="user-stats">

        <div class="user-stats-circle">
          <p>Countries Cooked</p>
          <h6><%= @countries.to_set.count %></h6>
        </div>

        <div class="user-stats-circle-0">
          <p>Dishes Made</p>
          <h6><%= @cooked_dishes.count %></h6>
        </div>

        <div class="user-stats-circle-0 ">
          <p>Favorites</p>
          <h6><%= @current_user.favourites.length %></h6>
        </div>
      </div>


      <div class="user-infos">

        <div class="user-basic" style="width:160px">
          <h6>Bio:</h6>
          <p><%= current_user.bio %></p>
          <br>
          <h6>Location:</h6>
          <p><%= current_user.location %></p>
          <br>
          <h6>Favourite Dish:</h6>
          <p><% if current_user.favourites.exists? %>
               <%= current_user.favourites.first.dish.title %>
             <% else %>
               <%= "None" %>
             <% end %></p>
        </div>

        <div class="container awards-container">
          <div class="user-basic">
            <h6>My Awards:</h6>
            <div class="award list">
              <ul class="ul-award">
                <li class="card-award">
                  <div class="award-header">
                    <i class="fa-solid fa-hat-cowboy-side"></i>
                  </div>
                  <div class="award-info">
                    <h6>Rootin' Tootin</h6>
                    <p>Made 3 dishes from USA</p>
                  </div>
                </li>

                <li class="card-award">
                    <div class="award-header">
                      <i class="fa-solid fa-scroll"></i>
                    </div>
                    <div class="award-info">
                      <h6>Le Critique Magnifique</h6>
                      <p>Left 5 Reviews</p>
                    </div>
                </li>

                <li class="card-award">
                    <div class="award-header">
                      <i class="fa-solid fa-hippo"></i>
                    </div>
                    <div class="award-info">
                      <h6>T.I.A</h6>
                      <p>Cooked 10 dishes from across Africa</p>
                    </div>
                </li>

              </ul>
            </div>

          </div>
        </div>

      </div>


      <%#= link_to "< Back", :back, class:"btn btn-back" %>

      <p> </p>
    </div>
      <%# ------------------Cooking history section ------------------------- %>
      <div class="user-tabs-box">
        <div class="user-tab">
          <h2>Cooking History</h2>
          <div class="tab-new-position">
            <% current_user.cooked_dishes.each do |d| %>
              <p> ~ <em><%= d.dish.title %></em></p>
            <% end %>
          </div>



        </div>

      </div>
    </div>

    <%= render "shared/user_bottom_navbar" %>
  </div>


</div>
