<div class="iPhone-13">

  <div class="user-background">

    <div class="user-container">

      <div class="user-profile-pic">
        <%= image_tag "user-profile-pic.png" %>
      </div>

      <div class="user-username">
        <h2><%= current_user.username %></h2>
      </div>

      <div class="user-stats">

        <div class="user-stats-circle">
          <p>Countries Cooked</p>
          <h6><%= @countries.to_set.count %></h6>
        </div>

        <div class="user-stats-circle-0">
          <p>Dishes Made</p>
          <h6><%= @cooked_dishes.count %></h6>
        </div>

        <div class="user-stats-circle-0 ">
          <p>Favorites</p>
          <h6><%= @current_user.favourites.length %></h6>
        </div>
      </div>


      <div class="user-infos">

        <div class="user-basic">
          <h6>Bio:</h6>
          <p><%= current_user.bio %></p>

          <h6>Location:</h6>
          <p><%= current_user.location %></p>

          <h6>Favourite Dish:</h6>
          <p>Not McDonald's<%#= current_user.xxx %></p>
        </div>

        <div class="user-basic">
          <h6>My Award:</h6>
          <div class="user-awards">
            <i class="fa-solid fa-burger fa-2x"></i>
            <div class="user-awards-infos">
              <p>Master Food Delivery</p>
            </div>
          </div>
        </div>

      </div>


      <%= link_to "< Back", :back, class:"btn btn-back" %>

      <p> </p>

    </div>

      <div class="user-tabs-box" data-controller="display-tab">

          <div class="user-tab" data-action="click->display-tab#showContent" data-display-tab-target="tab">
            <h2>Cooking History</h2>
          </div>

        </div>

      </div>


  </div>

<%= render "shared/user_bottom_navbar" %>

</div>
