<div class="iPhone-13">

  <div class="user-background">

    <div class="user-container">

      <div class="user-profile-pic">
        <%= image_tag "user-profile-pic.png" %>
      </div>

      <div class="user-username">
        <h2><%= current_user.username %></h2>
      </div>

      <div class="user-stats">
        <div class="user-stats-circle">
          <p>Countries Cooked</p>
          <p><%= @countries.to_set.count %></p>
        </div>

        <div class="user-stats-circle">
          <p>Dishes Made</p>
          <p><%= @cooked_dishes.count %></p>
        </div>

        <div class="user-stats-circle">
          <p>Favorites</p>
          <p><%= @current_user.favourites.length %></p>
        </div>
      </div>

      <h3>Award/Rank: ...</h3>


      <h2>Bio: <%= current_user.bio %></h2>
      <h2>Location: <%= current_user.location %></h2>
      <h2>Favourite Dish: (ADD CODE HERE)</h2>


      <p>possible gallery </p>

      <%= link_to "Back", :back, class:"btn btn-success" %>

    </div>

  </div>

<%= render "shared/user_bottom_navbar" %>

</div>
