<div class="iPhone-13">
  <div class="iPhone-13-container">
    <h1 class='my-favourites'>My Favourites</h1>
    <% @favourites.each do |f| %>
      <div class='dish-reviews-card'>
        <%= cl_image_tag f.dish.photo.key, class:'fav-img' %>
        <div class='dish-reviews-card-content'>
          <h4><%= f.dish.title %></h4>
          <h4><i class='fa-solid fa-lg fa-star'></i> <%= f.dish.average_rating %></h4>
          <p><%= f.dish.categories.first(3).join(', ') %></p>
        </div>
          <%= link_to '<i style="color:crimson;" class="fa-solid fa-heart-crack"></i>'.html_safe, favourite_path(f), data: {turbo_method: :delete}%>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/fav_bottom_navbar" %>
