<div class="iPhone-13">

  <div class="iPhone-13-home-container">

    <div class="home-background-top">

      <div class="home-logo">
        <%#= image_tag "mondo-logo.png" %>
      </div>

      <div class="home-graphics">
        <%= image_tag "pages-home-graphics.png" %>
      </div>

      <div class="home-infos">
        <h3>Find exotic new recipes </h3>
        <p>Make dishes from around the world right in your kitchen</p>
      </div>

      <div class="home-btn">
        <%= link_to "Get Started", "#home-bottom", class: "btn btn-get-started" %>
      </div>

    </div>

    <div id="home-bottom" class="home-background-bottom">


        <div class="home-nav" data-controller="home-nav-btn">
          <div class="nav-btn btn"><i class="fa-solid fa-bars"></i>
          </div>
        </div>

      <div class="home-tab-menu-tabs d-none">

        <ul>
          <li class="home-menu-nav home-tab-menu-item">
            <% if user_signed_in? %>
              <div class="nav-menu-btn btn"><a href="/favourites"><i class="fa-solid fa-heart fa-heart-nav"></i></a></div>
            <% else %>
              <div class="nav-menu-btn btn"><a href="/users/sign_in"><i class="fa-solid fa-heart fa-heart-nav"></i></a></div>
            <% end %>
          </li>

          <li class="home-menu-nav home-tab-menu-item">
            <div class="nav-menu-btn btn"><a href="/"><i class="fa-solid fa-music fa-music-nav"></i></a></div>
          </li>

          <li class="home-menu-nav home-tab-menu-item">

            <% if user_signed_in? %>
              <div class="nav-menu-btn btn"><a href="/users/<%= current_user.id %>"><i class="fa-solid fa-user fa-user-nav"></i></a></div>
            <% else %>
              <div class="nav-menu-btn btn"><a href="/users/sign_in"><i class="fa-solid fa-user fa-user-nav"></i></a></div>
            <% end %>

          </li>
        </ul>

      </div>


      <div class="home-search-text">
        <h4>Pick a country and get a random dish!</h4>
      </div>

      <div data-controller="globe-filtering">
        <%= render 'pages/globe', markers: @markers %>

        <%# <div class="home-earth-shadow">
          <%= image_tag "pages-home-earth-shadow.png" %>
        <%#</div> %>

        <div class="home-filters-box">

          <div class="home-filters-box-top">
            <p>Filters</p>
            <p><i class="fa-solid fa-filter"></i></p>
            <hr>
          </div>

          <div class="home-filters-box-bottom">

            <div class="home-filters-grid">
              <%= link_to root_path(category: "Vegetarian"), remote: true, data: { action: 'click->globe-filtering#search', category: 'Vegetarian'}  do %>
                <p><i class="fa-solid fa-seedling <%= params[:category] == "Vegetarian" ? "selected" : "" %>"></i></p>
                <p>Vegetarian</p>
              <% end %>
            </div>

            <div class="home-filters-grid">
              <%= link_to root_path(category: "Pescetarian"),  remote: true, data: { action: 'click->globe-filtering#search', category: 'Pescetarian'}  do %>
                <p><i class="fa-solid fa-fish <%= params[:category] == "Pescetarian" ? "selected" : "" %>"></i></p>
                <p>Pescetarian</p>
              <% end %>
            </div>

            <div class="home-filters-grid">
              <%= link_to root_path(category: "Lactose"), remote: true, data: { action: 'click->globe-filtering#search', category: 'Lactose'} do %>
                <p><i class="fa-solid fa-cow <%= params[:category] == "Lactose" ? "selected" : "" %>"></i></p>
                <p>Lactose</p>
              <% end %>
            </div>

            <div class="home-filters-grid">
              <%= link_to root_path(category: "Vegan"), remote: true, data: { action: 'click->globe-filtering#search', category: 'Vegan'} do %>
                <p><i class="fa-solid fa-leaf" <%= params[:category] == "Vegan" ? "selected" : "" %>></i></p>
                <p>Vegan</p>
              <% end %>
            </div>

            <div class="home-filters-grid">
              <%= link_to root_path(category: "Gluten"),  remote: true, data: { action: 'click->globe-filtering#search', category: 'Gluten'} do %>
                <p><i class="fa-solid fa-bread-slice <%= params[:category] == "Gluten" ? "selected" : "" %>"></i></p>
                <p>Gluten</p>
              <% end %>
            </div>

            <div class="home-filters-grid">
              <%= link_to root_path(category: "Puddings"), remote: true, data: { action: 'click->globe-filtering#search', category: 'Puddings'} do %>
                <p><i class="fa-solid fa-ice-cream <%= params[:category] == "Puddings" ? "selected" : "" %>"></i></p>
                <p>Puddings</p>
              <% end %>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
