<div class="iPhone-13">

  <div class="iPhone-13-container iPhone-13-container-colour">


    <div class="dish-card-simple-container" data-controller="dish-card">
      <div class="dish-card-simple" d-none>
        <h4><%= @dish.title %></h4>
        <i class="dish-drop-btn fa-solid fa-lg fa-caret-down" ></i>
      </div>

        <div class='d-none dish-reviews-card dish-show-card dish-display-card'>
          <%= cl_image_tag @dish.photo.key, class:'fav-img' %>
          <div class='dish-reviews-card-content'>
            <div class='dish-reviews-card-content-top'>
              <h4><%= @dish.title %></h4>
              <i class="dish-up-btn fa-solid fa-lg fa-caret-up"></i>
            </div>
            <h4><i class='fa-solid fa-lg fa-star'></i> <%= @dish.average_rating %></h4>
            <p style="font-size: 14px; color: grey"><%= @dish.categories.first(3).join(', ') %></p>
          </div>
        </div>
    </div>


    <div class="ingredient-list">
      <h2>Good! Let's get the ingredients.</h2>

      <% x = 1 %>
      <% @dish.ingredients.each do |i| %>
        <hr>
        <div class="ingredients-card-simple" data-controller="check-ingredients" data-action="click->check-ingredients#checkBox">

          <h6 class="ingredients-index"><%= x %></h6>
          <p data-check-ingredients-target="word"><%= i %></p>

          <div class='ingredients-checkbox'>
            <div class="ingredients-checkbox-item">
              <i style="font-size: 20px" class="fa-regular fa-circle checkbox-item" data-check-ingredients-target="box"></i>
            </div>
          </div>

            <%# <i class="fa-solid fa-circle-check"></i> %>

          <% x = x + 1 %>
        </div>
      <% end %>

      <div class="dish-p-btn">
        <%= link_to "← Back to dish", dish_path(@dish), class:"btn btn-dish-back" %>
        <%= link_to "See recipe →", dish_recipes_path(@dish), class:"btn btn-dish-next" %>
      </div>
    </div>

    <div class="iPhone-13-spacing-colour"></div>

  </div>

  <%= render "shared/bottom_navbar" %>

  </div>

</div>
