<div class="iPhone-13">

  <div class="iPhone-13-container iPhone-13-container-colour">


  <div class="dish-card-simple-container" data-controller="dish-card">
    <div class="dish-card-simple">
      <h4><%= @dish.title %></h4>
      <i class="dish-card-btn fa-solid fa-lg fa-caret-down" data-action="click->cuisine-history#revealContent" data-cuisine-history-target="arrow"></i>
    </div>
  </div>


    <div class="ingredient-list">
      <h2>Good! Let's get the ingredients.</h2>

      <% @dish.ingredients.each do |i| %>
        <div class="ingredients-card-simple">
          <p><%= i %></p>
          <input type="checkbox" class="checkbox">
        </div>
      <% end %>



      <%= link_to "< Dish", dish_path(@dish), class:"btn btn-primary" %>
      <%= link_to "> Recipe", dish_recipes_path(@dish), class:"btn btn-success" %>
    </div>

    <div class="iPhone-13-spacing"></div>

  </div>

  <%= render "shared/bottom_navbar" %>

  </div>

</div>
