<div class="iPhone-13">

  <br>

  <div class="card-small-dish">
      <%= cl_image_tag @dish.photo.key, class: 'cl-dish-img' %>
      <div class="title-rating">

        <div class="card-dish-infos">
          <h2><strong><%= @dish.title %></strong></h2>
          <p><%= @dish.categories %></p>
        </div>

        <div class="rating">
          <p class="icon m-0"><i class="fa-solid fa-star"></i></p>
          <p class="number m-0"><%= @dish.average_rating %></p>
        </div>

      </div>
   </div>
  <br>
  <div class="ingredient-list">
    <h2>Ingredients</h2>
  <br>

    <ul>
      <% @dish.ingredients.each do |i| %>
      <li class="card card-lists">
      <p class="text"><%= i %></p>
      <input type="checkbox" class="checkbox">
      <% end %>
      </li>
    </ul>

    <%= link_to "< Back", "javascript:history.back()", class:"btn btn-primary" %>
    <%= link_to "> Next", dish_recipes_path(@dish), class:"btn btn-success" %>
  </div>

  <br>
    <%= render "shared/bottom_navbar" %>
</div>
