<div class="iPhone-13">

  <div class="iPhone-13-container iPhone-13-container-colour">

    <div class="dish-card-simple-container" data-controller="dish-card">
      <div class="dish-card-simple">
        <h4><%= @dish.title %></h4>
        <i class="dish-card-btn fa-solid fa-lg fa-caret-down" data-action="click->cuisine-history#revealContent" data-cuisine-history-target="arrow"></i>
      </div>
    </div>

    <div class="ingredient-list">
      <h2>Follow the steps and be a Chef!</h2>

      <% x = 1 %>
      <% @dish.recipe.each do |i| %>
        <hr>
        <div class="ingredients-card-simple" data-controller="check-ingredients" data-action="click->check-ingredients#checkBox">

          <h6 class="ingredients-index"><%= x %></h6>
          <p data-check-ingredients-target="word"><%= i %></p>

          <div class='ingredients-checkbox'>
            <div class="ingredients-checkbox-item">
              <i style="font-size: 20px" class="fa-regular fa-circle checkbox-item" data-check-ingredients-target="box"></i>
            </div>
          </div>

            <%# <i class="fa-solid fa-circle-check"></i> %>

          <% x = x + 1 %>
        </div>
      <% end %>


    <div class="stopwatch" data-controller="stopwatch">
      <div class="stopwatch-timer">
          <p><i class="fa-solid fa-stopwatch"></i>  Timer</p>
        <div class="circle">
          <span class="time" id="display">00:00:00</span>
        </div>
      </div>

      <div class="controls">
        <button class="buttonPlay">
          <i class="fa-solid fa-play" id="playButton"></i>
          <i class="fa-solid fa-pause "id="pauseButton"></i>
        </button>

        <button class="buttonReset">
          <i class="fa-solid fa-stop" id="resetButton"></i>
        </button>
      </div>
    </div>
    </div>


    <div class="dish-p-btn-recipe">
      <%= link_to "â† Ingredient", dish_ingredients_path(@dish), class:"btn btn-dish-back-recipe" %>
      <%= render partial: 'shared/cooked_form', cooked_dishes: @cooked_dishes %>
    </div>

    <div class="iPhone-13-spacing"></div>

  </div>

  <%= render "shared/bottom_navbar" %>

  </div>

  <script src="stopwatch_controller.js"></script>

</div>
