<div class="iPhone-13">
  <br>
  <div class="card-small-dish">
      <%= cl_image_tag @dish.photo.key, class: 'cl-dish-img' %>
      <div class="title-rating">

        <div class="card-dish-infos">
          <h2><strong><%= @dish.title %></strong></h2>
          <p><%= @dish.categories %></p>
        </div>

        <div class="rating">
          <p class="icon m-0"><i class="fa-solid fa-star"></i></p>
          <p class="number m-0"><%= @dish.average_rating %></p>
        </div>

      </div>
   </div>
  <br>
  <div class="recipe-list">
    <h2>Recipe</h2>
    <br>

    <ol value="Step:">
      <% @dish.recipe.each do |i| %>
      <li type="step" class="card card-lists">
      <p class="text"><%= i %></p>
      <input type="checkbox" class="checkbox">
      <% end %>
      </li>
    </ol>

    <%= link_to "< Ingredients", dish_ingredients_path(@dish), class:"btn btn-primary"  %>
    <%= render partial: 'shared/cooked_form', cooked_dishes: @cooked_dishes %>
  </div>
  <br>
  <%= render "shared/bottom_navbar" %>
</div>
