<div class="container">

  <div class="card dish-pic">
    <div class="dish-img">
      <%= cl_image_tag @dish.photo.key, class: 'cl_img' %>
      <%= render partial: 'shared/favourite', favourite: @favourite, class: 'heart'%>
      <p>add refresh button</p>
      <%= link_to "> Choose this", dish_ingredients_path(@dish), class:"btn btn-success" %>
    </div>
  </div>

  <%# ***move this to review page*** will require back end code also to be moved****
  <%# <div class="container">
    <%= simple_form_for [@dish, @cooked_dish] do |x| %>
    <%# <%= x.submit "Cooked ✅" %>
    <%# <% end %>
  <%# </div> %>

<%# <%= audio_tag "peru_track.mp3", id: "peru_track-audio" %>
<%# <script>document.getElementById('peru_track-audio').play();</script> %>

  <div class="card dish-infos">

    <div class="title-rating">
      <h2><strong><%= @dish.title %></strong></h2>
      <div class="rating">
        <p class="icon m-0"><i class="fa-solid fa-star"></i></p>
        <p class="number m-0"><%= @dish.average_rating %></p>
      </div>
    </div>

    <div class="dish-stats">
      <div class="list">
        <div class="piece"><p>Prep time</p><span><%= @dish.times["prep"] %> mins</span>
        </div>
        <div class="piece"> <p>Cooking time</p><span><%= @dish.times["cook"] %> mins </span>
        </div>
        <div class="piece"> <p>Calories</p><span>XX</span>
        </div>
      </div>

      <p><%= @dish.description %></p>
    </div>

    <div class="dish-flag-history">
      <%= cl_image_tag @dish.country.photo.key, class: 'cl_img' %>
      <h4>Cuisine history:</h4>
      <p><%= @dish.country.story %></p>
    </div>

    <div class="reviews">
      <h2><%= pluralize @dish.reviews.size, "review" %></h2>
      <% if @dish.reviews.blank? %>
        Be the first to leave a review for <%= @dish.title %>
      <% else %>
        <% @dish.reviews.each do |review| %>
          <p><%= review.content %></p>
          <p>⭐️<%= review.rating %></p>
        <% end %>
      <% end %>
    </div>

  </div>
</div>

<%= render "shared/bottom_navbar" %>
