<div class="iPhone-13">
  <div class="iPhone-13-container">

    <%# ---- Add to fav header and button ---------------- %>
    <div class="container add-to-favourite">
      <h4>Add to Favourites</h4>
      <div>
        <% if user_signed_in? %>
          <%= render partial: 'shared/review_favourite', favourite: @favourite %>
        <% else %>
          <div class="dish-heart-btn">
            <div class="dish-heart-item-login"><a href="/users/sign_in"><i class="fa-regular fa-heart dish-fa-heart-login"></i></a></div>
          </div>
        <% end %>
      </div>
    </div>

    <%# ---- reviews: Content, star-rating, submit ----------- %>
    <div class="container review-container">
      <div class="row">
        <div class="col-xs-4">
          <%= simple_form_for([@dish, @review]) do |f| %>
            <%= f.input :content, label: "So, tell us how was it?", title:""%>
            <%= f.input :rating, collection: (1..5).to_a, label:"", input_html: {data: {controller: "star-rating"}}%>
            <%= f.input :photo, as: :file, label:"Upload your photo" %>
            <%= f.submit "Send your review" %>
          <% end %>
        </div>
      </div>
    </div>

    <%# ------------- Social media share links ----------------------%>
    <div class="container share-box">
      <div class="share-links">
        <%# twitter %>
        <%= link_to "https://twitter.com/intent/tweet?url=https://www.mondo.recipes/&hashtags=loveMondo" do %>
          <i class="fab fa-twitter-square fa-2x twitter"></i>
        <% end %>
        <%# Instagram %>
        <%= link_to "" do %>
          <i class="fa-brands fa-instagram fa-2x instagram"></i>
        <% end %>
        <%# facebook head%>
        <%= link_to "https://www.facebook.com/share.php?u=https://www.mondo.recipes/" do %>
          <i class="fab fa-facebook-square fa-2x facebook"></i>
        <% end %>
        <%# pinterest head - Check if photo exists for review else post photo of the dish%>
        <%# if Review.last.photo.attached? %>
          <%# @photo_link = Review.last.photo.url %>
        <%# else %>
          <%# @photo_link = @dish.photo.url %>
        <%# end %>
        <%= link_to "https://pinterest.com/pin-builder/?url=https://www.mondo.recipes/&media=#{@photo_link}" do %>
          <i style="color:#CC0100;" class="fa-brands fa-pinterest fa-2x pinterest"></i>
        <% end %>
      </div>
    </div>
  </div>

 <%# Navbar here %>
  <%= render "shared/bottom_navbar" %>
</div>
