<div class="iPhone-13x">
  <br>

  <%# ---- Add to fav header and button ---------------- %>
  <div class="add-to-favourite">
    <h4>Add to Favourites</h4>
    <div>
      <%= render partial: 'shared/review_favourite', favourite: @favourite %>
    </div>
  </div>

  <br>

  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <%= simple_form_for([@dish, @review]) do |f| %>
          <%= f.input :content, label: "So, tell us how was it?", title:""%>
          <%= f.input :rating, collection: (1..5).to_a, label:"", input_html: {data: {controller: "star-rating"}}%>
          <%= f.input :photo, as: :file, label:"Upload your photo" %>
          <%= f.submit "Send your review" %>
        <% end %>
      </div>
    </div>
  </div>

  <br>

  <%= render "shared/bottom_navbar" %>

</div>
