<div class="iPhone-13">
  <div class="iPhone-13-container">

    <%# ---- Add to fav header and button ---------------- %>

    <div class="container picture-card">
      <p>placeholder code</p>
    </div>

    <div class="container add-to-favourite">
      <h4>Add to Favourites</h4>
      <div>
        <% if user_signed_in? %>
          <%= render partial: 'shared/review_favourite', favourite: @favourite %>
        <% else %>
          <div class="dish-heart-btn">
            <div class="dish-heart-item-login"><a href="/users/sign_in"><i class="fa-regular fa-heart dish-fa-heart-login"></i></a></div>
          </div>
        <% end %>
      </div>
    </div>

  <div class="container review-container">
    <div class="row">
      <div class="col-xs-4">
        <%= simple_form_for([@dish, @review]) do |f| %>
          <%= f.input :content, label: "So, tell us how was it?", title:""%>
          <%= f.input :rating, collection: (1..5).to_a, label:"", input_html: {data: {controller: "star-rating"}}%>
          <%= f.input :photo, as: :file, label:"Upload your photo" %>
          <%= f.submit "Send your review" %>
        <% end %>
      </div>
    </div>

  </div>

  <div class="container share-box">
    <p>share items</p>
    <%# twitter x 2 %>



    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a href="https://ctt.ac/1ef5i">https://ctt.ac/1ef5i</a>
    <%# facebook head%>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v14.0" nonce="hhwAntCF"></script>
    <%# facebook button %>
    <div class="fb-share-button" data-href="https://www.mondo.recipes/dishes/6/reviews/new" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.mondo.recipes%2Fdishes%2F6%2Freviews%2Fnew&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
    <%# linkedin %>
    <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
    <script type="IN/Share" data-url="https://www.linkedin.com"></script>
  </div>

  <%= render "shared/bottom_navbar" %>

  </div>
</div>
