<div class="iPhone-13">

  <div class="iPhone-13-container iPhone-13-container-colour">
    <%# ---------------- Drop down dish card ------------------------ %>
    <div class="dish-card-simple-container" data-controller="dish-card">
    <div class="dish-card-simple" d-none>
      <h4><%= @dish.title %></h4>
      <i class="dish-drop-btn fa-solid fa-lg fa-caret-down" ></i>
    </div>

      <div class='d-none dish-reviews-card dish-show-card dish-display-card'>
        <%= cl_image_tag @dish.photo.key, class:'fav-img' %>
        <div class='dish-reviews-card-content'>
          <div class='dish-reviews-card-content-top'>
            <h4><%= @dish.title %></h4>
            <i class="dish-up-btn fa-solid fa-lg fa-caret-up"></i>
          </div>
          <h4><i class='fa-solid fa-lg fa-star'></i> <%= @dish.average_rating %></h4>
          <p style="font-size: 14px; color: grey"><%= @dish.categories.first(3).join(', ') %></p>
        </div>
      </div>
  </div>

    <%# ---- Add to fav header and button ---------------- %>
    <div class="container add-to-favourite">
      <h4>Add to Favourites</h4>
      <div class="heart-zzz">
        <% if user_signed_in? %>
          <%= render partial: 'shared/review_favourite', favourite: @favourite %>
        <% else %>
          <div class="dish-heart-btn-review">
            <div class="dish-heart-item-login"><a href="/users/sign_in"><i class="fa-regular fa-heart dish-fa-heart-login"></i></a></div>
          </div>
        <% end %>
      </div>
    </div>

    <%# ----------------------- reviews: Content, star-rating, submit ----------------------------------- %>
    <div class="container review-container" data-controller="review-confirmation">
      <div class="row">
        <div class="col-xs-4">
          <%= simple_form_for([@dish, @review]) do |f| %>
            <%= f.input :content, label: "So, tell us how was it?"%>
            <%= f.input :rating, collection: (1..5).to_a, label:"", input_html: {data: {controller: "star-rating"}}%>
            <%= f.input :photo, as: :file, label:"Add a photo" %>
            <button id="sweet-alert" class="btn btn-primary submit-review" >Submit review</button>
            <%= f.submit "Submit review", id:"submit-review", class:"d-none"  %>
          <% end %>
        </div>
      </div>

      <hr>
      <%# ---------------------- Share to Social Media -------------------------------------------------- %>
      <div class="share-links">
        <h4 style="font">Share</h4>
        <%# twitter %>
        <%= link_to "https://twitter.com/intent/tweet?url=https://www.mondo.recipes/&hashtags=loveMondo" do %>
          <i class="fab fa-twitter-square fa-2x twitter"></i>
        <% end %>
        <%# Instagram %>
        <%= link_to "" do %>
          <i class="fa-brands fa-instagram fa-2x instagram"></i>
        <% end %>
        <%# facebook head%>
        <%= link_to "https://www.facebook.com/share.php?u=https://www.mondo.recipes/" do %>
          <i class="fab fa-facebook-square fa-2x facebook"></i>
        <% end %>
        <%# pinterest head - Check if photo exists for review else post photo of the dish%>
        <%= link_to "https://pinterest.com/pin-builder/?url=https://www.mondo.recipes/" do %>
          <i style="color:#CC0100;" class="fa-brands fa-pinterest fa-2x pinterest"></i>
        <% end %>
      </div>

    </div>
  </div>
 <%# Navbar here %>
  <%= render "shared/bottom_navbar" %>
</div>
