<div class="iPhone-13">
  <div class="iPhone-13-container">

    <%# ---- Add to fav header and button ---------------- %>

    <div class="container picture-card">
      <p>placeholder code</p>
    </div>

    <div class="container add-to-favourite">
      <h4>Add to Favourites</h4>
      <div>
        <% if user_signed_in? %>
          <%= render partial: 'shared/review_favourite', favourite: @favourite %>
        <% else %>
          <div class="dish-heart-btn">
            <div class="dish-heart-item-login"><a href="/users/sign_in"><i class="fa-regular fa-heart dish-fa-heart-login"></i></a></div>
          </div>
        <% end %>
      </div>
    </div>

  <div class="container review-container">
    <div class="row">
      <div class="col-xs-4">
        <%= simple_form_for([@dish, @review]) do |f| %>
          <%= f.input :content, label: "So, tell us how was it?", title:""%>
          <%= f.input :rating, collection: (1..5).to_a, label:"", input_html: {data: {controller: "star-rating"}}%>
          <%= f.input :photo, as: :file, label:"Upload your photo" %>
          <%= f.submit "Send your review" %>
        <% end %>
      </div>
    </div>

  </div>

  <div class="container share-box">
    <p>share items</p>

  </div>

  <%= render "shared/bottom_navbar" %>

  </div>
</div>
